[SddmGreeterTheme]
Name=jetincarina-grayscale
Description=A Carina Nebula Theme
Author=Brent Lintner
Copyright=(c) 2017, Brent Lintner
License=MIT
Type=sddm-theme
Version=1.0
Website=https://github.com/brentlintner/sddm-jetincarina-grayscale-theme
Screenshot=
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=jetincarina-grayscale
Theme-API=2.0
